build
bin
lib
nbproject
Doxyfile
*~

Images/Real
Images/Synthetic

model/obj1
model/obj7
model/obj13
model/obj18

SUN2012pascalformat/Annotations
SUN2012pascalformat/ImageSets
SUN2012pascalformat/JPEGImages
SUN2012pascalformat/report.txt

TestScenes/scene1
TestScenes/scene13

.autotools
.cproject
.project
